<div style="box-sizing: content-box" ng-init="init()">
    <nav id="top-tab-box">
        <div id="top-tab" class="clearfix">
            <div id="top-cats">
                <div class="toplevel">
                    <div class="lineicon">
                        <i></i>
                        <i></i>
                        <i></i>
                    </div>
                    <span>所有分类</span>
                </div>
                <ul class="catitmlst">
                    <li ng-repeat="category in categorys">
                        <i class="iconfont icon">&#xe6ef;</i>
                        <span>{{category.name}}</span>
                        <i class="iconfont arr">&#xe66b;</i>
                        <em class="vcenter"></em>
                        <em class="seg"></em>
                        <div class="ctgcard clearfix">
                            <div class="ctglist">
                                <div class="ctgtbl">
                                    <div class="clearfix">
                                        <div class="litd" ng-if="category.secondary_list[0]">
                                            <div class="item">
                                                <p class="title">
                                                    <a>{{category.secondary_list[0].name}}</a>
                                                </p>
                                                <div class="ctgnamebox">
                                                    <a ng-class={ctgname0:third.display_type==0,ctgname3:third.display_type==1} ng-repeat="third in category.secondary_list[0].third_categorys">{{third.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="litd" ng-if="category.secondary_list[1]">
                                            <div class="item">
                                                <p class="title">
                                                    <a>{{category.secondary_list[1].name}}</a>
                                                </p>
                                                <div class="ctgnamebox">
                                                    <a ng-class={ctgname0:third.display_type==0,ctgname3:third.display_type==1} ng-repeat="third in category.secondary_list[1].third_categorys">{{third.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="litd" ng-if="category.secondary_list[2]">
                                            <div class="item">
                                                <p class="title">
                                                    <a>{{category.secondary_list[2].name}}</a>
                                                </p>
                                                <div class="ctgnamebox">
                                                    <a ng-class={ctgname0:third.display_type==0,ctgname3:third.display_type==1} ng-repeat="third in category.secondary_list[2].third_categorys">{{third.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="litd" ng-if="category.secondary_list[3]">
                                            <div class="item">
                                                <p class="title">
                                                    <a>{{category.secondary_list[3].name}}</a>
                                                </p>
                                                <div class="ctgnamebox">
                                                    <a ng-class={ctgname0:third.display_type==0,ctgname3:third.display_type==1} ng-repeat="third in category.secondary_list[3].third_categorys">{{third.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="litd" ng-if="category.secondary_list[4]">
                                            <div class="item">
                                                <p class="title">
                                                    <a>{{category.secondary_list[4].name}}</a>
                                                </p>
                                                <div class="ctgnamebox">
                                                    <a ng-class={ctgname0:third.display_type==0,ctgname3:third.display_type==1} ng-repeat="third in category.secondary_list[4].third_categorys">{{third.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="litd" ng-if="category.secondary_list[5]">
                                            <div class="item">
                                                <p class="title">
                                                    <a>{{category.secondary_list[5].name}}</a>
                                                </p>
                                                <div class="ctgnamebox">
                                                    <a ng-class={ctgname0:third.display_type==0,ctgname3:third.display_type==1} ng-repeat="third in category.secondary_list[5].third_categorys">{{third.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="brandbox">
                                <div class="brandlist clearfix">
                                    <a ng-repeat="img in category.image_list">
                                        <img alt="{{img.alt}}" ng-src="{{img.image_url}}">
                                    </a>
                                </div>
                            </div>
                            <div class="imgbox">
                                <a>
                                    <img ng-src="{{category.image_list[9].image_url}}">
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <ul id="func-tab" class="clearfix">
                <li class="navitm">
                    <a>秒杀</a>
                </li>
                <li class="navitm">
                    <a>每日上新</a>
                </li>
                <li class="navitm">
                    <a>优惠券</a>
                </li>
                <li class="navitm">
                    <a>闪购</a>
                </li>
                <li class="navitm">
                    <a>MINE会员</a>
                </li>
                <li class="navitm">
                    <a>数码广场</a>
                </li>
                <li class="navitm">
                    <a>人气面膜</a>
                </li>
                <li class="navitm">
                    <a>全球旗舰</a>
                </li>
                <li class="navitm">
                    <a>充值</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="wrap topBgWrapPos">
        <article class="topBgWrap clearfix">
            <div id="img-carousel" class="imgBox carousel slide">
                <section class="sliderBox">
                    <ul id="show-pic" class="carousel-inner">
                        <li data-target="#img-carousel" class="item" ng-class={active:$first}
                            ng-repeat="ad in indexAds">
                            <img class="showImg" ng-src="{{ad.image_url}}">
                        </li>
                    </ul>
                    <table class="img_pagebox" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td class="pageBox">
                                <span class="img_pageBtn carousel-indicators">
                                <a data-target="#img-carousel" data-slide-to="0" class="active first">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">1</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="1">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">2</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="2">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">3</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="3">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">4</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="4">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">5</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="5">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">6</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="6">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">7</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="7" class="last">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">8</span>
                                </a>
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="control">
                        <div>
                            <a class="prev" ng-click="prev()">
                                <i class="iconfont">&#xe680;</i>
                            </a>
                            <a class="next" ng-click="next()">
                                <i class="iconfont">&#xe681;</i>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </article>
        <article class="sellPointBox">
            <section class="contentwrap clearfix">
                <div class="sellPoint clearfix">
                    <a class="itm">
                        <i class="iconfont">&#xe6f4;</i>
                        100%正品
                    </a>
                    <a class="itm">
                        <i class="iconfont">&#xe609;</i>
                        7天无理由退货
                    </a>
                    <a class="itm">
                        <i class="iconfont">&#xe601;</i>
                        满99包邮（部分特殊商品除外）
                    </a>
                </div>
                <div class="download">
                    <i class="phone iconfont">&#xe791;</i>
                    <a>领我的世界888元新人礼，APP下单更享手机价</a>
                </div>
            </section>
        </article>
        <article class="rowofx">
            <ul class="rowbox clearfix">
                <li class="rowwrap">
                    <ul class="rowof4 clearfix">
                        <li>
                            <a class="pic">
                                <img src="./img/onlineshop/banner/banner_s_001.jpg">
                            </a>
                        </li>
                        <li>
                            <a class="pic">
                                <img src="./img/onlineshop/banner/banner_s_002.jpg">
                            </a>
                        </li>
                        <li>
                            <a class="pic">
                                <img src="./img/onlineshop/banner/banner_s_003.jpg">
                            </a>
                        </li>
                        <li>
                            <a class="pic">
                                <img src="./img/onlineshop/banner/banner_s_004.jpg">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </article>
        <div class="mainBgWrap clearfix">
            <aside></aside>
            <div></div>
            <article class="dailylimit">
                <h2 class="tit">
                    <span class="big">今日限时购</span>
                    本场还剩
                    <span class="timebox">
                        <i>0</i>
                        <i>0</i>
                        :
                        <i>1</i>
                        <i>3</i>
                        :
                        <i>1</i>
                        <i>4</i>
                    </span>
                    <a class="more">进入限时购频道></a>
                </h2>
                <section class="cnt clearfix">
                    <ul class="goodslist">
                        <li class="goods clearfix">
                            <a class="pic">
                                <img src="./img/onlineshop/goods/timelimit/good001.jpg" title="全棉针织纯色四件套">
                            </a>
                            <div class="detail">
                                <h3 class="intro">
                                    <a title="日系纯色，面料轻柔舒透">日系纯色，面料轻柔舒透</a>
                                </h3>
                                <h3 class="shortTitle">
                                    <a title="全棉针织纯色四件套">全棉针织纯色四件套</a>
                                </h3>
                                <p class="price">
                                    <b>¥</b>
                                    229
                                    <span>¥</span>
                                    <del>299</del>
                                </p>
                                <div class="process">
                                    <b style="width: 16.8%"></b>
                                    <p class="processtext">剩余5376件</p>
                                </div>
                                <button class="btn">立即抢购</button>
                            </div>
                        </li>
                        <li class="goods clearfix">
                            <a class="pic">
                                <img src="./img/onlineshop/goods/timelimit/good002.jpg"
                                     title="Kanebo 佳丽宝 Suisai药用酵母酵素洗颜粉 32粒 Cosme前三">
                            </a>
                            <div class="detail">
                                <h3 class="intro">
                                    <a title="Cosme大赏第三，超多好评">Cosme大赏第三，超多好评</a>
                                </h3>
                                <h3 class="shortTitle">
                                    <a title="Kanebo 佳丽宝 Suisai药用酵母酵素洗颜粉 32粒 Cosme前三">Kanebo 佳丽宝 Suisai药用酵母酵素洗颜粉 32粒
                                        Cosme前三</a>
                                </h3>
                                <p class="price">
                                    <b>¥</b>
                                    107
                                    <span>¥</span>
                                    <del>199</del>
                                </p>
                                <div class="process">
                                    <b style="width: 63.5%"></b>
                                    <p class="processtext">剩余23746件</p>
                                </div>
                                <button class="btn">立即抢购</button>
                            </div>
                        </li>
                        <li class="goods clearfix">
                            <a class="pic">
                                <img src="./img/onlineshop/goods/timelimit/good003.jpg" title="CPB 肌肤之钥 钻光粉霜 #OC00 25克">
                            </a>
                            <div class="detail">
                                <h3 class="intro">
                                    <a title="由内而外流光溢彩完美妆效">由内而外流光溢彩完美妆效</a>
                                </h3>
                                <h3 class="shortTitle">
                                    <a title="CPB 肌肤之钥 钻光粉霜 #OC00 25克">CPB 肌肤之钥 钻光粉霜 #OC00 25克</a>
                                </h3>
                                <p class="price">
                                    <b>¥</b>
                                    847
                                    <span>¥</span>
                                    <del>880</del>
                                </p>
                                <div class="process">
                                    <b style="width: 77.7%"></b>
                                    <p class="processtext">剩余1255件</p>
                                </div>
                                <button class="btn">立即抢购</button>
                            </div>
                        </li>
                        <li class="goods clearfix">
                            <a class="pic">
                                <img src="./img/onlineshop/goods/timelimit/good004.jpg"
                                     title="【2分钟快速燃脂】Labrada液体左旋肉碱口服液男女瘦身燃脂473毫升">
                            </a>
                            <div class="detail">
                                <h3 class="intro">
                                    <a title="液态吸收好 减脂见效快">液态吸收好 减脂见效快 </a>
                                </h3>
                                <h3 class="shortTitle">
                                    <a title="【2分钟快速燃脂】Labrada液体左旋肉碱口服液男女瘦身燃脂473毫升">【2分钟快速燃脂】Labrada液体左旋肉碱口服液男女瘦身燃脂473毫升</a>
                                </h3>
                                <p class="price">
                                    <b>¥</b>
                                    149
                                    <span>¥</span>
                                    <del>219</del>
                                </p>
                                <div class="process">
                                    <b style="width: 17.6%"></b>
                                    <p class="processtext">剩余351件</p>
                                </div>
                                <button class="btn">立即抢购</button>
                            </div>
                        </li>
                    </ul>
                    <aside class="aside">
                        <a class="pic">
                            <img src="./img/onlineshop/goods/timelimit/timelimit.jpg">
                        </a>
                    </aside>
                </section>
            </article>
            <article></article>
            <article></article>
            <section></section>
            <div></div>
        </div>
    </div>
    <footer id="doc-foot">
        <div class="footBgWrap">
            <div class="box">
                <div class="btmlist">
                    <ul class="clearfix">
                        <li>
                            <i class="iconfont">&#xe6f4;</i>
                            <strong class="tit">100%正品</strong>
                            <span class="desc">正品保障 假一赔十</span>
                        </li>
                        <li>
                            <i class="iconfont">&#xe603;</i>
                            <strong class="tit">低价保障</strong>
                            <span class="desc">缩减中间环节 确保低价</span>
                        </li>
                        <li>
                            <i class="iconfont">&#xe609;</i>
                            <strong class="tit">7天无理由退货</strong>
                            <span class="desc">国内退货 售后无忧</span>
                        </li>
                        <li class="last">
                            <i class="iconfont">&#xe601;</i>
                            <strong class="tit">满99包邮</strong>
                            <span class="desc">部分特殊商品除外</span>
                        </li>
                    </ul>
                </div>
                <div class="guidelist">
                    <ul class="clearfix">

                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>