body {
    font-size: 16px;
    color: #000000;
    font-family: 'Armata', Arial, Helvetica, sans-serif;
    overflow-y: auto;
    margin: 0;
    min-width: 1024px;
    min-height: 768px;
}

:-moz-placeholder {
    color: #999;
}

*::-moz-placeholder {
    color: #999;
}

.nowrap {
    white-space: nowrap;
    word-break: keep-all;
}

.wrap {
    overflow-wrap: break-word;
    white-space: normal;
}

@font-face {
    font-family: 'iconfont';  /* project id 542854 */
    src: url('//at.alicdn.com/t/font_542854_mj4sql7jdoomkj4i.eot');
    src: url('//at.alicdn.com/t/font_542854_mj4sql7jdoomkj4i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_542854_mj4sql7jdoomkj4i.woff') format('woff'),
    url('//at.alicdn.com/t/font_542854_mj4sql7jdoomkj4i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_542854_mj4sql7jdoomkj4i.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-text-stroke-width: 0.2px;
}

/*--------------------------------------------主页------------------------------------------------*/

/*-------------------导航栏-----------------------*/

#sitebar {
    text-align: left;
}

#sitebar-nav {
    margin: 0;
    padding: 0;
    background: #f2f2f2 none repeat scroll 0 0;
    border-bottom: 1px solid #ededee;
    color: #666;
    position: relative;
    z-index: 999;
    font-size: 12px;
}

#sitebar-nav a {
    color: #666;
    text-decoration: none;
}

#sitebar-nav a:hover {
    color: #e31436;
    text-decoration: none;
}

#sitebar-nav i.icn {
    color: #e31436;
    font-size: 12px;
    font-weight: normal;
    margin-right: 3px;
}

#sitebar-navigation {
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    width: 1090px;
}

.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

#sitebar-navigation-left {
    float: left;
}

#sitebar-navigation-left div {
    margin: 0;
    padding: 0;
}

#sitebar-navigation-left .login {
    margin-left: 16px;
}

#sitebar-navigation-left .sep {
    padding: 0 10px;
    color: #ccc;
}

#sitebar-navigation-right {
    position: relative;
    float: right;
    right: -3px;
}

#sitebar-navigation-right li {
    position: relative;
    float: left;
}

#sitebar-navigation-right .sep {
    color: #ccc;
}

.mcDropMenuBox {
    border: 1px solid transparent;
    left: -3px;
    position: relative;
    top: -1px;
    z-index: 1000;
}

.toplevel {
    padding: 0 14px 0 8px;
}

.topHolder {
    padding: 0 24px 0 16px !important;
    position: relative;
}

.topHolder .arr {
    border-color: #666 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 4px 4px 0;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin-top: -2px;
    position: absolute;
    right: 14px;
    top: 50%;
    transition: transform 0.2s ease-in 0s;
    width: 0;
}

.mcDropMenuBox:hover, .mcDropMenu {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8e8ea;
}

.mcDropMenuBox:hover .topHolder .arr {
    transform: rotate(180deg);
}

#sitebar-nav .mcDropMenuBox:hover .sep {
    color: #fff;
}

.mcDropMenuBox:hover .mcDropMenu {
    display: block;
}

.mcDropMenu {
    border-top: 0 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    display: none;
    left: -1px;
    padding: 4px 15px 12px 14px;
    position: absolute;
    top: 30px;
}

.mcDropMenu a {
    display: block;
    height: 28px;
    line-height: 28px;
    overflow-wrap: normal;
    white-space: nowrap;
}

.mcDropMenu .cnt {
    position: relative;
}

#siteber-header {
    background: transparent none repeat scroll 0 0;
    height: 135px;
    position: relative;
    z-index: 998;
}

#siteber-header-wrap {
    height: 135px;
    margin: 0 auto;
    position: relative;
    width: 1090px;
}

#siteber-header .logomine {
    background: url("../img/onlineshop/logomine.png") no-repeat;
    background-size: 200px 100px;
    cursor: pointer;
    height: 135px;
    left: 0;
    outline: medium none;
    position: absolute;
    top: 20px;
    width: 330px;
    z-index: 997;
}

#siteber-header .searchdiv {
    top: 43px;
    left: 343px;
    position: absolute;
    z-index: 996;
}

#top-search {
    background-color: #333;
    height: 36px;
    padding-left: 1px;
    width: 510px;
}

#top-search .iconfont-top-search {
    display: inline-block;
}

#top-search .iconfont-top-input {
    display: inline-block;
    height: 14px;
    width: 14px;
    left: 10px;
    position: absolute;
    top: 7px;
}

#top-search .wrap {
    background-color: #fff;
    float: left;
    margin: 2px 1px;
    padding: 4px 4px 4px 30px;
}

#top-search-input {
    border: 0 none;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    width: 423px;
}

#top-search-btn {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 50px;
}

#top-search, #top-search-btn {
    border-radius: 0 3px 3px 0;
}

.searchhint {
    background-color: #fff;
    left: 0;
    position: absolute;
    top: 36px;
    width: 461px;
}

.searchhint ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border: 1px solid #ccc;
    border-top: medium none -moz-use-text-color;
    padding: 6px 0;
}

.searchhint .item, .searchhint .item:hover {
    display: block;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
}

.searchhint .shname {
    color: #333;
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

.searchhint a:hover .shname, .searchhint .active a .shname {
    color: #e31436;
}

.searchhint .active a {
    background-color: #f8f8f8;
}

/*.searchhint .del {*/
/*color: #999;*/
/*cursor: pointer;*/
/*display: none;*/
/*font-family: "iconfont" !important;*/
/*position: absolute;*/
/*right: 10px;*/
/*top: 0;*/
/*}*/

.searchhint a:hover .del {
    display: block;
}

.searchhint .del:hover {
    color: #e31436;
}

.searchhint .tit {
    color: #999;
}

.suggestlist {
    height: 22px;
    line-height: 22px;
    margin-top: 2px;
    overflow: hidden;
    width: 461px;
    padding: 0;
}

.suggestlist li {
    float: left;
    white-space: nowrap;
    font-size: 12px;
}

.suggestlist li a {
    color: #999;
}

.suggestlist li a:hover {
    color: #e31436;
}

.suggestlist li .showcolor {
    color: #e31436;
}

.suggestlist li .sep {
    color: #999;
    margin: 0 10px;
}

.shopcart {
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: block;
    font-size: 13px;
    height: 36px;
    line-height: 33px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 43px;
    width: 108px;
}

.shopcart:hover {
    color: #333;
    text-decoration: none;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: block;
    font-size: 13px;
    height: 36px;
    line-height: 33px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 43px;
    width: 108px;
}

.shopcart .iconfont {
    color: #a9a9a9;
    display: inline-block;
    font-size: 18px;
    line-height: 35px;
    vertical-align: middle;
}

.shopcart .wrap {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: inline-block;
    padding-left: 6px;
    vertical-align: middle;
}

.shopcart .num {
    margin-left: 3px;
}

.shopcart .num, .rightbar .num {
    background: #e31436 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-family: Helvetica, arial;
    font-size: 12px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    width: 20px;
}

/*-------------------电商主页-----------------------*/
#top-tab-box {
    background: #fff none repeat scroll 0 0;
    border-bottom: 2px solid #151515;
    z-index: 1001;
    margin: 0;
    padding: 0;
}

#top-tab {
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    position: relative;
    width: 1090px;
    z-index: 1002;
}

#top-cats {
    background: #151515 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 14px;
    height: 40px;
    overflow: visible;
    padding-left: 0;
    text-align: center;
    width: 160px;
    margin: 0;
}

#top-cats .toplevel {
    border-bottom: 2px solid #151515;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: left;
    width: 160px;
    margin: 0;
    padding: 0;
}

#top-cats .lineicon {
    display: inline-block;
    height: 12px;
    margin: 0 15px 0 27px;
    overflow: hidden;
    width: 15px;
}

#top-cats .lineicon i {
    border-top: 2px solid #ddd;
    display: block;
    height: 0;
    margin-bottom: 3px;
    width: 15px;
}

#top-cats .catitmlst {
    border-bottom: 1px solid #000;
    margin-top: -1px;
    padding: 0;
}

#top-cats .catitmlst li {
    background: rgba(15, 15, 15, 0.82) none repeat scroll 0 0;
    cursor: pointer;
    padding-left: 10px;
    text-align: left;
    width: 150px;
    height: 40px;
    line-height: 40px;
    box-sizing: content-box;
}

#top-cats .catitmlst li:hover .ctgcard {
    display: block;
}

#top-cats .catitmlst .vcenter {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

#top-cats .catitmlst .icon {
    font-size: 20px;
    height: 20px;
    padding: 0 12px 0 14px;
    vertical-align: middle;
    width: 20px;
}

#top-cats .catitmlst span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    white-space: nowrap;
    width: 70px;
}

#top-cats .catitmlst .arr {
    color: #929496;
    display: inline-block;
    font-size: 19px;
    vertical-align: middle;
    width: 16px;
}

.navitm-cats .catitmlst .seg {
    background: rgba(255, 255, 255, 0.05) none repeat scroll 0 0;
    bottom: 1px;
    display: block;
    height: 1px;
    left: 0;
    position: relative;
    width: 140px;
}

#top-cats .catitmlst li:hover {
    background: #555 none repeat scroll 0 0;
    border-left: 3px solid #e32b42;
    padding-left: 7px;
}

#top-cats .catitmlst li:hover .seg {
    display: none;
}

#top-cats .ctgcard {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #333;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: #333;
    cursor: auto;
    display: none;
    height: 399px;
    left: 160px;
    max-height: 399px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 42px;
    transition: height 0.4s ease 0s;
    width: 930px;
    z-index: 1000;
    box-sizing: content-box;
}

#top-cats .ctglist {
    float: left;
    margin: 10px 20px 20px;
    max-height: 368px;
    overflow: hidden;
    width: 610px;
}

#top-cats .ctgtbl {
    font-size: 0;
    width: 100%;
}

#top-cats .ctgtbl .litd {
    float: left;
    vertical-align: top;
    width: 50%;
}

#top-cats .ctglist .item {
    display: inline-block;
    height: auto;
    line-height: normal;
    margin: 0 25px 10px 5px;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    width: 275px;
}

#top-cats .ctglist .item .title {
    border-bottom: 1px solid #eaeaea;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
}

#top-cats .ctglist .item .title a {
    color: #333;
    display: inline;
    text-align: left;
}

#top-cats .ctglist .ctgnamebox {
    font-size: 0;
    margin-left: -8px;
}

#top-cats .ctglist .ctgnamebox a {
    border-left: 1px solid #ccc;
    color: #666;
    display: inline-block;
    font-size: 13px;
    height: 14px;
    line-height: 14px;
    margin-top: 12px;
    padding: 0 8px 0 10px;
}

#top-cats .ctglist .ctgnamebox a:hover {
    background: #fff none repeat scroll 0 0;
    text-decoration: underline;
}

#top-cats .ctglist .ctgnamebox .ctgname0 {
    color: #666;
}

#top-cats .ctglist .ctgnamebox .ctgname3 {
    color: #e31436;
}

#top-cats .brandbox {
    background: #f6f6f6 none repeat scroll 0 0;
    height: 243px;
    overflow: hidden;
    padding: 20px 17px 0;
    width: 245px;
    float: left;
    box-sizing: content-box;
}

#top-cats .brandbox .brandlist {
    font-size: 0;
}

#top-cats .brandbox .brandlist a {
    float: left;
    padding: 0;
}

#top-cats .brandbox .brandlist img {
    border: 1px solid #eaeaea;
    height: 80px;
    margin: -1px 0 0 -1px;
    width: 80px;
}

#top-cats .ctgcard .imgbox {
    background: #f6f6f6 none repeat scroll 0 0;
    height: 100px;
    padding: 18px;
    width: 244px;
    float: right;
    box-sizing: content-box;
}

#top-cats .ctgcard .imgbox a {
    padding: 0;
}

#top-cats .ctgcard .imgbox img {
    height: 100px;
    width: 244px;
}

#func-tab {
    float: left;
    height: 40px;
    padding-left: 20px;
    position: relative;
    z-index: 995;
}

#func-tab li {
    float: left;
    height: 40px;
    overflow: hidden;
    padding: 0 20px;
}

#func-tab a, #func-tab a:link, #func-tab a:visited {
    color: #333;
    text-decoration: none;
}

#func-tab a {
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#func-tab a:hover {
    color: #e31436;
    text-decoration: none;
}

.topBgWrapPos {
    background: #f6f6f6 none repeat scroll 0 0;
    padding-bottom: 80px;
    position: relative;
    z-index: 100;
}

.topBgWrap {
    background: #3f3f3f none repeat scroll 0 0;
    position: relative;
}

.imgBox {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.sliderBox {
    -moz-user-select: none;
    font-size: 0;
    height: 400px;
    position: relative;
}

#show-pic {
    height: 400px;
    top: 0;
}

#show-pic .showImg {
    height: 400px;
    width: 1920px;
    cursor: pointer;
}

.sliderBox .img_pagebox {
    z-index: 101;
    bottom: 16px;
    left: 50%;
    margin-left: -375px;
    width: 920px;
    position: absolute;
}

.sliderBox .pageBox {
    text-align: center;
    vertical-align: middle;
}

.sliderBox .img_pageBtn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding-left: 14px;
    padding-right: 14px;
    vertical-align: baseline;
}

.sliderBox a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    height: 20px;
    margin: 4px 2px 0;
    position: relative;
    width: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    text-decoration: none;
    vertical-align: middle;
}

.sliderBox a:hover .iconfont {
    color: #e31436;
}

.sliderBox .active .iconfont {
    color: #e31436;
}

.sliderBox .first {
    margin-left: 0;
}

.sliderBox .last {
    margin-right: 0;
}

.sliderBox .iconfont {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    height: 20px;
    left: 0;
    line-height: 20px;
    position: absolute;
    top: 0;
    width: 20px;
}

.sliderBox .num {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    left: 0;
    line-height: 12px;
    position: absolute;
    text-align: center;
    top: 4.4px;
    width: 20px;
    z-index: 1;
}

.sliderBox .control {
    z-index: 101;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.sliderBox .control div {
    margin: 0 auto;
    position: relative;
    width: 1090px;
}

.sliderBox .control a {
    background: rgba(166, 166, 166, 0.7) none repeat scroll 0 0;
    height: 68px;
    margin: -34px 0 0;
    position: absolute;
    top: 0;
    width: 34px;
    display: none;
}

.imgBox:hover .sliderBox .control a {
    display: block;
}

.sliderBox .carousel-indicators .active {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 20px;
    margin: 4px 2px 0;
    width: 20px;
}

.sliderBox .control i {
    position: absolute;
    top: 24px;
    left: 6px;
}

.sliderBox .control a:hover .iconfont {
    color: #fff;
}

.sliderBox .prev {
    left: 169px;
}

.sliderBox .next {
    right: 0;
}

.mainBgWrap {
    width: 1090px;
    margin: 0 auto;
    min-height: 600px;
    position: relative;
}

.sellPointBox {
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    height: 44px;
    margin-bottom: 20px;
}

.sellPointBox .contentwrap {
    margin: 0 auto;
    width: 1090px;
}

.sellPointBox .contentwrap .sellPoint {
    color: #999;
    float: left;
    font-size: 12px;
    height: 44px;
    line-height: 44px;
}

.sellPointBox .contentwrap .sellPoint .itm {
    color: #999;
    float: left;
    margin-right: 40px;
    text-decoration: none;
}

.sellPointBox .contentwrap .sellPoint .itm i {
    font-size: 22px;
    margin-right: 7px;
    vertical-align: -3px;
}

.sellPointBox .contentwrap .sellPoint .itm:hover {
    color: #e01f35;
}

.sellPointBox .contentwrap .download {
    color: #e01f35;
    float: right;
    line-height: 44px;
}

.sellPointBox .contentwrap .download .phone {
    font-size: 15px;
    margin-right: 5px;
    vertical-align: -2px;
}

.sellPointBox .contentwrap .download a {
    color: #e01f35;
    font-size: 12px;
}

.rowofx {
    padding-top: 20px;
    margin-top: -20px;
}

.rowofx .rowbox {
    margin: 0 auto;
    width: 1090px;
}

.rowofx .rowwrap {
    width: 1090px;
    margin-bottom: 10px;
}

.rowofx .rowof4 {
    margin-right: -10px;
}

.rowofx .rowof4 li {
    float: left;
    margin-right: 10px;
}

.rowofx .rowof4 .pic {
    height: 220px;
    width: 265px;
    display: inline-block;
}

.rowofx .rowof4 .pic img {
    height: 100%;
    width: 100%;
}

.dailylimit .tit {
    font-size: 14px;
    color: #999;
    line-height: 32px;
    margin: 37px 0 10px;
    position: relative;
    text-align: left;
}

.dailylimit .tit .big {
    margin-right: 10px;
    color: #333;
    font-size: 22px;
    font-weight: bold;
}

.dailylimit .timebox {
    font-weight: bold;
    margin-left: 8px;
}

.dailylimit .timebox i {
    background-color: #333;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 1.5px;
    text-align: center;
    vertical-align: 1px;
    width: 20px;
}

.dailylimit .tit .more {
    color: #333;
    position: absolute;
    right: 0;
    top: 6px;
}

.dailylimit .cnt {
    border-top: 2px solid #333;
}

.dailylimit .cnt .goodslist {
    border-left: 1px solid #eaeaea;
    float: left;
    width: 868px;
}

.dailylimit .cnt .goodslist .goods {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    float: left;
    height: 188px;
    position: relative;
    width: 433px;
}

.dailylimit .cnt .goodslist .goods .pic {
    display: inline-block;
    float: left;
    height: 188px;
    margin-right: -188px;
    position: relative;
    width: 188px;
}

.dailylimit .cnt .goodslist .goods .detail {
    float: right;
    height: 188px;
    margin-right: 20px;
    position: relative;
    width: 205px;
    text-align: left;
}

.dailylimit .cnt .goods .intro {
    height: 23px;
    margin: 20px 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dailylimit .cnt .goods .intro a {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.dailylimit .cnt .goods .shortTitle {
    height: 49px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-all;
}

.dailylimit .cnt .goods .shortTitle a {
    color: #666;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
}

.dailylimit .cnt .goods .price {
    color: #e11935;
    font-size: 24px;
    font-weight: bold;
    margin: 14px 0 2px;
}

.dailylimit .cnt .goods .price b {
    font-size: 20px;
    font-weight: normal;
}

.dailylimit .cnt .goods .price span {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    margin-left: 8px;
}

.dailylimit .cnt .goods .price del {
    color: #999;
    font-size: 14px;
    font-weight: normal;
}

.dailylimit .cnt .goods .process {
    border: 1px solid #f3c7c7;
    border-radius: 9px;
    color: #de2634;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100px;
    box-sizing: content-box;
}

.dailylimit .cnt .goods .process b {
    background-color: #ffd2c5;
    display: inline-block;
    height: 100%;
}

.dailylimit .cnt .goods .process .processtext {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.dailylimit .cnt .goods .btn {
    background-color: #de2634;
    border: 1px solid #de2634;
    bottom: 22px;
    color: #fff;
    line-height: 14px;
    position: absolute;
    right: 0;
    width: 78px;
    outline: medium none;
}

.dailylimit .cnt .aside {
    float: right;
    height: 378px;
    width: 221px;
}

.dailylimit .cnt .aside .pic {
    display: inline-block;
}

.dailylimit .cnt .aside img {
    height: 378px;
    width: 221px;
    background: #fff none repeat scroll 0 0;
}

#doc-foot {
    margin: 0;
}

.footBgWrap {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #eaeaea;
}

.footBgWrap .box {
    margin: 0 auto;
    width: 1196px;
}

.footBgWrap .box .btmlist {
    border-bottom: 1px solid #eaeaea;
    padding: 40px 0;
}

.footBgWrap .box .btmlist li {
    float: left;
    width: 25%;
    text-align: left;
}

.footBgWrap .box .btmlist i {
    float: left;
    margin: 0 12px 0 0;
    height: 50px;
    width: 50px;
    font-size: 50px;
    line-height: 50px;
    display: inline-block;
}

.footBgWrap .box .btmlist .tit {
    font-size: 18px;
    font-weight: bold;

}

.footBgWrap .box .btmlist .desc {
    font-size: 14px;
}

.footBgWrap .box .btmlist .tit, .footBgWrap .box .btmlist .desc {
    display: block;
    line-height: 22px;
}

/*--------------------------------------------登录页------------------------------------------------*/
#docHead {
    border-bottom: 1px solid #e8e8ea;
    background: #fdfbfe none repeat scroll 0 0;
    height: 100px;
    position: relative;
    z-index: 1003;
}

#docHeadWrap {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

#docHead .logomine {
    background: url("../img/onlineshop/logomine.png") left center no-repeat;
    background-size: 200px 80px;
    cursor: pointer;
    height: 80px;
    left: 0;
    line-height: 80px;
    outline: medium none;
    position: absolute;
    top: 10px;
    width: 330px;
    z-index: 109;
}

#topimg {
    height: 100px;
    left: 458px;
    width: 504px;
    position: absolute;
    top: 0;
    background: url("../img/onlineshop/banner/loginsubtitle.png") no-repeat;
}

.login-banner {
    /*background: #f8f8f8 no-repeat center top;*/
    background-image: url("../img/onlineshop/banner/loginbg.png");
}

.m-loginBody {
    height: 520px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

.m-loginBody .defaultimg {
    height: 203px;
    left: 10px;
    position: absolute;
    top: 154px;
    width: 400px;
}

.m-loginWrap {
    font-size: 12px;
    box-sizing: content-box;
}

.m-loginBody .m-loginWrap {
    background-color: #fff;
    border: 1px solid #eaeaea;
    position: absolute;
    right: 40px;
    top: 48px;
    width: 350px;
    z-index: 102;
}

.m-loginBody .loginform {
    float: left;
}

.m-loginshow {
    z-index: 1000;
}

.m-loginshow .top {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 16px;
    height: 52px;
    line-height: 52px;
    position: relative;
    width: 350px;
}

.m-loginshow .top div {
    cursor: pointer;
    float: left;
    font-weight: bold;
    text-align: center;
    width: 175px;
}

.m-loginshow .top .head1:hover, .m-loginshow .top .head2:hover {
    color: #e31436;
}

.m-loginshow .top .active {
    color: #e31436;
}

.m-loginshow .top .line {
    border-right: 1px solid #ddd;
    height: 20px;
    left: 175px;
    position: absolute;
    top: 17px;
    width: 0;
}

#loginbox {
    height: 250px;
    display: block;
    position: static;
}

#loginbox2 {
    height: 230px;
    position: static;
}

.m-loginshow .bottom {
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    font-size: 14px;
    height: 20px;
    padding: 10px 40px;
    width: 270px;
    box-sizing: content-box;
}

.m-loginshow .thirdlogin {
    float: left;
    width: 160px;
}

.m-loginshow .thirdicon {
    display: block;
    float: left;
    height: 22px;
    margin-right: 10px;
    position: relative;
    width: 22px;
    font-size: 25px;
    cursor: pointer;
    bottom: 6px;
}

.m-loginshow .gotoreg {
    color: #e31436;
    cursor: pointer;
    display: block;
    float: right;
    line-height: 22px;
    width: 105px;
}

.m-loginshow .gotoreg i {
    font-size: 12px;
}

.m-loginshow-reg .regwrap {
    display: block;
    position: static;
}

.m-loginshow .regtop {
    padding: 0 40px;
    width: 270px;
}

.m-loginshow .top {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 16px;
    height: 52px;
    line-height: 52px;
    position: relative;
    width: 350px;
}

.m-loginshow .regtop .text {
    color: #e31436;
    font-weight: bold;
}

.m-loginshow .gotologin {
    cursor: pointer;
    float: right;
    font-size: 12px;
}

#loginbox3 {
    height: 310px;
    width: 420px;
}

/*-------------手机登录-------------*/

.login_tab {
    background-color: transparent;
    border-radius: 0;
    width: 350px;
    overflow: hidden;
    position: relative;
}

.login_tab i {
    color: #999;
    cursor: default;
}

.login_tab .m-cnt {
    background-color: #fff;
    padding: 20px 40px 15px;
    width: 270px;
    -moz-user-select: none;
    box-sizing: content-box;
}

.login_tab .u-tab {
    padding: 0 0 10px;
    width: 270px;
    margin: 0 auto;
    text-align: right;
}

.u-tab .tab1 {
    height: 14px;
    line-height: 14px;
    color: #5e5e5e;
    text-decoration: none;
    font-size: 12px;
}

.u-tab .tab1 span:hover {
    color: #e31436 !important;
}

.login_tab .m-cnt .loginbox {
    background: #fff none repeat scroll 0 0;
    border-color: #d5d5d5;
    border-radius: 2px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    margin-bottom: 0;
    position: relative;
    z-index: 119;
    padding-top: 10px;
}

.login_tab .m-cnt .u-input {
    height: 36px;
    margin: 2px 0 18px;
    position: relative;
    border: 1px solid #ccc;
}

.login_tab .m-cnt .u-input i {
    position: absolute;
    font-size: 19px;
    left: 12px;
    top: 4px;
}

.login_tab .u-input input {
    font-size: 14px;
    font-weight: normal;
    height: 33px;
    line-height: 33px;
    padding-left: 0;
    width: 180px;
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    color: #333;
}

.login_tab .loginbox button {
    background-color: #e31436;
    color: #fff;
    outline: 0 none;
}

.login_tab .loginbox button:hover {
    background-color: #f5345e;
}

.login_tab .m-unlogin {
    padding: 20px 0 15px;
    font-size: 0;
    height: 16px;
    line-height: 16px;
    cursor: pointer;
}

.login_tab .m-unlogin :hover {
    color: #e31436
}

.login_tab .m-unlogin .b-unlogin {
    border-right: medium none;
    display: block;
    float: left;
    margin-right: 8px;
    width: 104px;
    position: relative;
}

.login_tab .m-unlogin .b-unlogin .u-checkbox {
    border: 1px solid #aaa;
    color: #999;
    cursor: pointer;
    float: left;
    font-size: 12px;
    height: 14px;
    width: 14px;
}

.login_tab .m-unlogin .b-unlogin .gou {
    color: #449d44;
    font-size: 12px;
    left: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
}

.login_tab .m-unlogin .b-unlogin label {
    color: #999;
    display: block;
    float: left;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding-left: 8px;
}

.login_tab .m-unlogin .b-unlogin label:hover {
    color: #e31436;
    cursor: pointer;
}

.login_tab .m-cnt .m-unlogin .forgetpwdReg {
    color: #999;
    cursor: pointer;
    float: right;
    font-size: 12px;
    height: 12px;
    line-height: 16px;
    text-decoration: none;
}

/*--------------------------------------------注册页------------------------------------------------*/

.login_tab .m-pccnt {
    position: relative;
}

.login_tab .m-cnt .m-pcbox {
    position: relative;
    font-size: 0;
}

.login_tab .m-cnt .pcin {
    padding-left: 8px;
    width: 130px;
    position: absolute;
    left: 0;
}

.login_tab .m-cnt .pcbtn {
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 200;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    float: left;
}

.login_tab .m-cnt .pcbtn button {
    background-color: #eee;
    border-left: 1px solid #d5d5d5;
    border-top: none;
    border-right: none;
    border-bottom: none;
    color: #333;
    height: 34px;
    width: 96px;
    font-size: 14px;
    text-align: center;
    border-radius: 0;
    outline: medium none;
}

.login_tab .m-cnt .pcbtn button:hover {
    color: #e31436;
    background-color: #f6f6f6;
}