<div class="login_tab">
    <div class="m-cnt">
        <form name="login_phone" ng-submit="register()" novalidate>
            <div class="m-container">
                <div class="inputbox">
                    <div class="u-input">
                        <i class="iconfont icn">&#xe677;</i>
                        <input id="username" placeholder="您的账户名和登录名" name="username">
                    </div>
                </div>
                <div class="inputbox">
                    <div class="u-input">
                        <i class="iconfont icn">&#xe604;</i>
                        <input id="email" placeholder="建议使用常用邮箱" name="email">
                    </div>
                </div>
                <div class="m-pccnt clearfix">
                    <div class="m-pcbox">
                        <div class="inputbox">
                            <div class="u-input">
                                <input class="pcin" placeholder="请输入邮箱验证码" name="code">
                            </div>
                        </div>
                        <div class="pcbtn">
                            <timer-button showtimer="false"></timer-button>
                        </div>
                    </div>
                </div>
                <div class="inputbox">
                    <div class="u-input">
                        <i class="iconfont icn">&#xe654;</i>
                        <input id="password" placeholder="请输入密码" name="password" type="password">
                    </div>
                </div>
                <div class="f-cb loginbox">
                    <button class="btn btn-block">注 册</button>
                </div>
            </div>
        </form>
    </div>
</div>