<div class="login_tab">
    <div class="m-cnt">
        <form name="login" ng-submit="login()" novalidate>
            <div class="m-container">
                <div class="u-tab clearfix">
                    <a class="tab1">
                        <i class="iconfont icn" style="font-size: 12px">&#xe643;</i>
                        <span> 使用短信验证登录</span>
                    </a>
                </div>
                <div class="inputbox">
                    <div class="u-input">
                        <i class="iconfont icn">&#xe677;</i>
                        <input name="username" ng-model="username" placeholder="请输入用户名" required>
                    </div>
                </div>
                <div class="inputbox">
                    <div class="u-input">
                        <i class="iconfont icn">&#xe654;</i>
                        <input name="password" ng-model="password" placeholder="请输入密码" type="password" required>
                    </div>
                </div>
                <div class="f-cb loginbox">
                    <button class="btn btn-block">登 录</button>
                </div>
                <div class="m-unlogin">
                    <div class="b-unlogin" ng-click="unlogin()">
                        <span class="u-checkbox" id="un-login"> </span>
                        <i class="iconfont icn gou" ng-show="unloginflag">&#xe7ad;</i>
                        <label for="un-login">10天免登录</label>
                    </div>
                    <a class="forgetpwdReg">忘记密码?</a>
                </div>
            </div>
        </form>
    </div>
</div>














